@font-face {
  font-family: "OCRB";
  src: url("../fonts/OCRB.otf");
}

html {
  color: white;
  /* cursor: pointer; */
  padding: 0;
  margin: 0;
}

body {
  color: white;
  font-family: "OCRB";
  padding: 0;
  margin: 0;
}