@font-face {
  font-family: "OCRB";
  src: url("../fonts/OCRB.otf");
}

html {
  background-color: black;
  color: white;
  /* cursor: pointer; */
}

body {
  color: white;
  font-family: "OCRB";
}

.startContainer {
  height: 100vh;
  width: 100vh;
  margin: auto;
  background: url("../images/ZachProfile.jpg");
  background-origin: padding-box;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.startCopy {
  font-size: 40px;
  color: rgb(54, 5, 83);
  padding-left: 1rem;
  background-color: white;
  background-clip: padding-box;
  max-width: 40%;
  border: 2px dotted red;
}